

/* --- Configuración general --- */
.sidebar-admin {
  width: 200px; /* width: 260px; */
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
  padding: 15px;
  border-right: 1px solid #eee;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow-y: auto;  /* Permite scroll dentro del sidebar */
  overscroll-behavior: contain;
}

.sidebar-admin.open {
  transform: translateX(0);
}

/* ----- Header Sidebar ----- */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-logo img {
  height: 55px;
}

.btn-close-sidebar {
  border: none;
  background: transparent;
  color: #4a148c;
  cursor: pointer;
}

/* ----- Menu ----- */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-link,
.sidebar-btn {
  width: 100%;
  display: flex;
  align-items: center;
  color: #222;
  background: none;
  border: none;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none !important;
}

.sidebar-link .icon,
.sidebar-btn .icon {
  margin-right: 12px;
  color: #4a148c;
  font-size: 1.3rem;
}

.sidebar-link:hover,
.sidebar-btn:hover {
  background: rgba(74, 20, 140, 0.1);
  box-shadow: 0 0 8px rgba(74, 20, 140, 0.15);
}

.sidebar-link.active,
.submenu-link.active {
  background: #4a148c;
  color: white !important;
}

/* ----- Submenú ----- */
.submenu {
  list-style: none;
  padding-left: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.submenu.open {
  max-height: 500px;
}

.submenu-link {
  display: block;
  padding: 8px 5px;
  text-decoration: none !important;
  color: #333;
  border-radius: 8px;
  margin: 3px 0;
  transition: background 0.2s ease;
}

.submenu-link:hover {
  background: rgba(74, 20, 140, 0.1);
}

/* -------- RESPONSIVE -------- */

/* SOLO ICONOS EN MÓVIL */
/* @media (max-width: 768px) {
  .sidebar-admin {
    width: 70px;
    padding: 10px;
  }

  .sidebar-admin.open {
    width: 260px;
  }

  .sidebar-admin:not(.open) .text {
    display: none;
  }

  .sidebar-admin:not(.open) .submenu {
    display: none !important;
  }

  .sidebar-logo img {
    height: 40px;
  }
}
 */
@media (max-width: 768px) {
  .sidebar-admin {
    transform: translateX(-100%);
    width: 200px !important; /* width: 260px !important; */
  }

  .sidebar-admin.open {
    transform: translateX(0);
  }
}



